@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


.monthContainer {

    .selectMonth {
        border: none;
        background-color: rgb(226, 208, 215);
        appearance: none;
    }

    select {
        font-size: 45px;
        border: none;
        -webkit-appearance: none;
        outline: none;
        font-family: "IBM Plex Mono", monospace;
        font-weight: 700;
        text-align: center;
        margin: 0 -70px 0 -39px;
    }
}

.yearContainer {

    .selectYear {
        border: none;
        background-color: rgb(226, 208, 215);
        appearance: none;
    }

    select {
        font-size: 45px;
        border: none;
        -webkit-appearance: none;
        outline: none;
        font-family: "IBM Plex Mono", monospace;
        font-weight: 700;
        text-align: center;
        margin-right: 10px;
        margin-left: -0px;
    }
}

