.row {
    display: flex;
    flex-direction: row;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox] + .accord-text::before {
    border: 1px solid #000;
    width: 10px;
    height: 10px;
    background-color: #6de4ec;
    content: "";
    display: block;
    font-size: 50%;
    font-weight: 900;
    color: green($color: #000000);
    border-radius: 200%;
}

input[type=checkbox]:checked + .accord-text::before {
    display: table;
    content: "\2713";
    text-align: center;
}